<header class="clearfix">

	<%= render 'layouts/up_line' %>

	<div class="container">
		<div class="header-logo">
			<a href="/">
				<%= image_tag("logo.jpg", :alt => "Секреты стройки") %>
			</a>
		</div>

		<%= render 'layouts/search' %>

		<div class="header-contacts">
			<span>Ежедневно с 9:00 до 20:00</span>
			8&nbsp916&nbsp963-97-06
			<a href="mailto:antipovstroy@gmail.com">antipovstroy@gmail.com</a>
		</div>
		
		<%= render 'layouts/feedback' %>

	</div>

	<%= render 'layouts/catalog_navigation' %>
	
</header>